In [67]:
import numpy as np
from numpy.linalg import norm
import pandas as pd

df = pd.read_csv("./yellow_cab_data/yellow_cab_data.csv")
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2022-01-01 00:17:55,2022-01-01 00:27:45,1.0,4.22,1.0,N,138,92,2,14.00,0.5,0.5,0.00,0.00,0.3,16.55,0.0,1.25
1,2,2022-01-01 00:22:03,2022-01-01 00:25:37,1.0,0.69,1.0,N,236,262,1,4.50,0.5,0.5,1.66,0.00,0.3,9.96,2.5,0.00
2,2,2022-01-01 00:52:33,2022-01-01 00:58:07,1.0,0.87,1.0,N,141,229,1,5.50,0.5,0.5,2.32,0.00,0.3,11.62,2.5,0.00
3,2,2022-01-01 00:31:12,2022-01-02 00:00:58,1.0,3.03,1.0,N,79,261,2,15.00,0.5,0.5,0.00,0.00,0.3,18.80,2.5,0.00
4,2,2022-01-01 00:05:26,2022-01-01 00:29:05,1.0,4.56,1.0,N,50,79,1,18.50,0.5,0.5,4.46,0.00,0.3,26.76,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2,2022-01-31 23:13:58,2022-01-31 23:35:37,NaN,5.58,NaN,NaN,158,262,0,24.63,0.0,0.5,2.00,0.00,0.3,29.93,NaN,NaN
149996,2,2022-01-31 23:31:00,2022-01-31 23:43:00,NaN,1.67,NaN,NaN,164,50,0,9.36,0.0,0.5,1.35,0.00,0.3,14.01,NaN,NaN
149997,2,2022-01-31 23:10:00,2022-01-31 23:20:00,NaN,2.02,NaN,NaN,170,50,0,10.40,0.0,0.5,1.46,0.00,0.3,15.16,NaN,NaN
149998,2,2022-01-31 23:53:00,2022-02-01 00:10:00,NaN,4.84,NaN,NaN,158,265,0,23.71,0.0,0.0,7.69,11.75,0.3,43.45,NaN,NaN
149999,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,NaN,90,170,0,8.00,0.0,0.5,2.39,0.00,0.3,13.69,NaN,NaN

In [14]:
def analysis_continuous(col_vals):
    return np.nanmean(col_vals), np.nanvar(col_vals)

In [57]:
def get_meanvarvecs(df):
    return df.apply(analysis_continuous, axis=0).transpose().values

In [73]:
def cosine_similarity(vec1, vec2):
    cosine = np.dot(vec1,vec2)/(norm(vec1)*norm(vec2))
    return cosine

In [74]:
def get_similarity_score(vecs1, vecs2):
    score = 0
    for i in range(len(vecs1)):
        score += cosine_similarity(vecs1[i], vecs2[i])
    return score/len(vecs1)

In [15]:
df.columns, len(list(df.columns))

(Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
        'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
        'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
        'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
        'total_amount', 'congestion_surcharge', 'airport_fee'],
       dtype='object'),
 19)

In [16]:
def datatype(x):
    return type(x)

In [18]:
datatypes = []
for col in df.columns:
    datatypes.append(str(type(df.loc[0,col])))
datatypes

["<class 'numpy.int64'>",
 "<class 'str'>",
 "<class 'str'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'str'>",
 "<class 'numpy.int64'>",
 "<class 'numpy.int64'>",
 "<class 'numpy.int64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>",
 "<class 'numpy.float64'>"]

In [19]:
categ = []
for i in range(len(datatypes)):
    t = datatypes[i]
    if t == "<class 'numpy.int64'>" or t == "<class 'numpy.float64'>":
        pass
    else:    
        categ.append(df.columns[i])
categ

['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'store_and_fwd_flag']

In [20]:
#convert datetimes to integer values
df['tpep_pickup_float'] = pd.to_datetime(df[categ[0]]).map(pd.Timestamp.timestamp)
df['tpep_dropoff_float'] = pd.to_datetime(df[categ[1]]).map(pd.Timestamp.timestamp)

In [23]:
#convert binary store and fwd flag to int
def convert_yn(x):
    if x=="Y":
        return 1
    elif x=="N":
        return 0
    else:
        return np.nan
df['store_and_fwd_flag_bin'] = df[categ[2]].apply(convert_yn)

In [27]:
data = df.drop(categ, axis=1)
data

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,tpep_pickup_float,tpep_dropoff_float,store_and_fwd_flag_bin
0,2,1.0,4.22,1.0,138,92,2,14.00,0.5,0.5,0.00,0.00,0.3,16.55,0.0,1.25,1.640996e+09,1.640997e+09,0.0
1,2,1.0,0.69,1.0,236,262,1,4.50,0.5,0.5,1.66,0.00,0.3,9.96,2.5,0.00,1.640997e+09,1.640997e+09,0.0
2,2,1.0,0.87,1.0,141,229,1,5.50,0.5,0.5,2.32,0.00,0.3,11.62,2.5,0.00,1.640998e+09,1.640999e+09,0.0
3,2,1.0,3.03,1.0,79,261,2,15.00,0.5,0.5,0.00,0.00,0.3,18.80,2.5,0.00,1.640997e+09,1.641082e+09,0.0
4,2,1.0,4.56,1.0,50,79,1,18.50,0.5,0.5,4.46,0.00,0.3,26.76,2.5,0.00,1.640996e+09,1.640997e+09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2,NaN,5.58,NaN,158,262,0,24.63,0.0,0.5,2.00,0.00,0.3,29.93,NaN,NaN,1.643671e+09,1.643672e+09,NaN
149996,2,NaN,1.67,NaN,164,50,0,9.36,0.0,0.5,1.35,0.00,0.3,14.01,NaN,NaN,1.643672e+09,1.643673e+09,NaN
149997,2,NaN,2.02,NaN,170,50,0,10.40,0.0,0.5,1.46,0.00,0.3,15.16,NaN,NaN,1.643671e+09,1.643671e+09,NaN
149998,2,NaN,4.84,NaN,158,265,0,23.71,0.0,0.0,7.69,11.75,0.3,43.45,NaN,NaN,1.643673e+09,1.643674e+09,NaN
149999,2,NaN,1.32,NaN,90,170,0,8.00,0.0,0.5,2.39,0.00,0.3,13.69,NaN,NaN,1.643672e+09,1.643673e+09,NaN

In [28]:
data.columns, len(data.columns)

(Index(['VendorID', 'passenger_count', 'trip_distance', 'RatecodeID',
        'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
        'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
        'total_amount', 'congestion_surcharge', 'airport_fee',
        'tpep_pickup_float', 'tpep_dropoff_float', 'store_and_fwd_flag_bin'],
       dtype='object'),
 19)

In [29]:
for col in data.columns:
    print(str(type(data.loc[0,col])))

<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

<h1> Approach 1: Total Differential Privacy </h1>

<h3> Algorithm 1: Total Anonymity (Dummy) </h3>

In [50]:
means = data.apply(analysis_continuous, axis=0).loc[0, :].values
alg1 = pd.DataFrame(np.tile(means, reps=len(data)).reshape(len(data),-1))
alg1.columns = data.columns
alg1

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,tpep_pickup_float,tpep_dropoff_float,store_and_fwd_flag_bin
0,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
1,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
2,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
3,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
4,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
149996,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
149997,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
149998,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382
149999,1.707967,1.388124,6.176475,1.415196,166.13058,163.662647,1.19406,12.789388,1.007348,0.4912,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.02382

A 0-differential dataset, epsilon is 0. Therefore, this is the most private dataset. We can quantify the accuracy of this dataset compared to the original dataset.

In [75]:
get_similarity_score(get_meanvarvecs(data), get_meanvarvecs(alg1))

0.44179613303320503

<h3> Approach 2: Uniform Randomness between Min and Max </h3>

In [80]:
def min_and_max(x):
    return min(x), max(x)

array([[ 1.00000000e+00,  6.00000000e+00],
       [ 0.00000000e+00,  6.00000000e+00],
       [ 0.00000000e+00,  1.18618940e+05],
       [ 1.00000000e+00,  9.90000000e+01],
       [ 1.00000000e+00,  2.65000000e+02],
       [ 1.00000000e+00,  2.65000000e+02],
       [ 0.00000000e+00,  4.00000000e+00],
       [-2.30000000e+02,  6.40500000e+02],
       [-4.50000000e+00,  1.40000000e+01],
       [-5.00000000e-01,  5.00000000e-01],
       [-1.07000000e+00,  9.11800000e+01],
       [-2.03000000e+01,  8.65000000e+01],
       [-3.00000000e-01,  3.00000000e-01],
       [-2.32800000e+02,  6.62850000e+02],
       [-2.50000000e+00,  2.50000000e+00],
       [-1.25000000e+00,  1.25000000e+00],
       [ 1.23076476e+09,  1.64367346e+09],
       [ 1.23077078e+09,  1.64372781e+09],
       [ 0.00000000e+00,  1.00000000e+00]])

In [82]:
def unif(a, b, shape):
    return (b-a)*np.random.random_sample(shape) + a

In [95]:
minmax_vals = data.apply(min_and_max, axis=0).transpose().values
alg2 = pd.DataFrame()
for i in range(len(minmax_vals)):
    col = unif(minmax_vals[i][0], minmax_vals[i][1], len(data))
    alg2[data.columns[i]] = col
alg2

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,tpep_pickup_float,tpep_dropoff_float,store_and_fwd_flag_bin
0,5.770770,4.688909,85143.950058,71.896010,170.752111,27.226895,1.247708,-171.498651,8.143785,0.089332,73.783965,65.722285,0.191950,-109.686920,1.618087,-0.840432,1.525742e+09,1.358208e+09,0.013402
1,1.923143,0.180107,55105.659871,47.657986,150.088154,104.802740,1.257810,-11.831656,11.252368,0.164602,31.123195,72.905055,0.109827,359.173000,-0.427996,-0.724259,1.311722e+09,1.255923e+09,0.318998
2,5.392160,2.882538,46134.022528,22.125609,210.679863,171.781360,1.567064,522.912096,12.259342,0.265778,73.397245,13.020635,-0.085350,176.440156,2.313999,0.677480,1.603681e+09,1.265708e+09,0.399189
3,4.185042,2.619681,14235.204669,13.374550,21.481172,24.671015,1.050244,579.220418,-1.670838,-0.499179,33.656071,53.338099,-0.223852,297.888966,-1.251437,-1.031241,1.300349e+09,1.589628e+09,0.776991
4,2.046978,3.081443,2490.634413,53.794433,102.461327,173.366494,2.130620,520.800404,-3.286748,-0.092115,70.903043,16.050481,-0.169914,174.484412,-2.365668,-0.133217,1.465990e+09,1.233681e+09,0.400785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,3.192100,1.380882,93029.436060,76.081445,93.328466,128.882264,1.069590,390.411321,11.293508,0.347387,26.351282,-19.459155,-0.133706,-184.285233,1.158915,-0.275914,1.348659e+09,1.476561e+09,0.983139
149996,4.616838,1.938277,38076.276158,14.762854,210.285817,3.265855,2.202199,218.772077,6.943005,0.341794,63.350233,14.961363,-0.092661,-27.154554,2.166323,-1.205121,1.368677e+09,1.362448e+09,0.633193
149997,3.368013,1.159912,29506.645852,85.538448,217.459275,249.799679,0.885065,-82.768311,8.254914,-0.490148,1.558198,37.066621,-0.056379,5.616510,-1.462841,-0.679630,1.409622e+09,1.567135e+09,0.134406
149998,3.825756,2.166124,16712.653312,88.414407,71.310145,54.805707,0.154476,84.348003,-2.298571,0.133213,76.434659,19.988265,0.044813,296.557104,-1.145386,-0.250828,1.434916e+09,1.517713e+09,0.652872
149999,5.004620,3.710372,77337.434453,49.242722,110.272889,17.026385,3.202136,134.545370,10.986392,0.107963,90.255294,49.650683,-0.064470,375.498634,-0.186549,0.679653,1.355951e+09,1.509504e+09,0.636955

Obviously less random than the last, but the accuracy improves:

In [96]:
get_similarity_score(get_meanvarvecs(data), get_meanvarvecs(alg2))

0.8171572464326213

<h3> Approach 3: Gaussian Sampling </h3>

In [100]:
data.apply(analysis_continuous, axis=0)

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,tpep_pickup_float,tpep_dropoff_float,store_and_fwd_flag_bin
0,1.707967,1.388124,6.176475,1.415196,166.130580,163.662647,1.194060,12.789388,1.007348,0.491200,2.386165,0.373507,0.296544,19.006622,2.280816,0.081776,1.642382e+09,1.642383e+09,0.023820
1,0.256483,0.964486,297286.705082,35.089287,4281.961889,5020.714919,0.250801,154.039988,1.529674,0.007039,7.176588,2.830240,0.002026,230.477862,0.557040,0.097055,2.823686e+12,2.823304e+12,0.023252